.form_style #contentText {
	
}
.form_style #FormSubmit {
	
}
#responds{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#responds li {
	list-style: none;
	padding: 15px;
	background: #25ad9f;
	margin-bottom: 10px;
	border-radius: 5px;
	max-width: 500px;
	color: #FFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}
#responds li.sel {
	background: #25ad9f;
}
.del_wrapper{float:right;}
.content_wrapper {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}
